<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>-->
      <h2>Eitthvað kom í veg fyrir að myndin var vistuð</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Tölvupóstur" %>
    <%= form.text_field :email, class: "form-control", maxlength: "255", 
      required: "required",
      oninvalid: 'setCustomValidity("Þurfum tölvupóst, max 255 stafir")',
      oninput: 'setCustomValidity("")'
    %>
  </div>

  <div class="field form-group">
    <%= form.label "Titill" %>
    <%= form.text_field :title, class: "form-control", maxlength: "20", required: "required",
      oninvalid: 'setCustomValidity("Mynd þarf titil, mest 20 stafir")',
      oninput: 'setCustomValidity("")'
    %>
  </div>

  <div class="field form-group">
    <%= form.label "Texti við mynd" %>
    <%= form.text_area :content, class: "form-control", maxlength: "240" %>
  </div>

  <div class="field form-group">
    <%= form.label "Hlaða upp mynd" %>
    <%= form.file_field :image, :onchange => 'previewImage(this)', direct_upload: true, :class => "form-control-file", accept: "images/*" %>
  </div>

  <div class="actions">
    <%= form.submit "Senda inn mynd", class: "btn btn-primary", id: "submitter" %>
  </div>
<% end %>
