<p id="notice"><%= notice %></p>
<h1>Sæll, dómari</h1>
<p><%= link_to "Skrá út", logoutings_path %></p>

<% @ratings = Rating.where(user_id: @user.id) %>
<% if @ratings.nil? %>
  <% @ratings = [] %>
<% end %>
<% @rated_posts_ids = [] %>
<% @ratings.each do |rating| %>
  <% @rated_posts_ids.push(rating.post_id) %>
<% end %>

<% @posts = Post.all %>
<% if @posts.nil? || @posts.count == 0 %>
  <% @posts = [] %>
<% end %>

<% @rated_posts   = @posts.select { |post| @rated_posts_ids.include?(post.id) }%>
<% @unrated_posts = @posts.select { |post| !@rated_posts_ids.include?(post.id) }%>

<table>
  <thead>
    <tr>
      <th>Myndir sem þú átt eftir að gefa einkunn</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @unrated_posts.count == 0 %>
      <tr>
        <td>Engar myndir í kerfinu</td>
        <td>Jöss, þú þarft ekkert að gera</td>
      </tr>
    <% end %>
    <% @unrated_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to "Skoða", post_path(post.id) %></td>
        <td><%= image_tag(post.thumbnail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr style="border:none; height: 40px; background-color: #000; margin-top: 30px; margin-bottom: 30px" />

<% if @rated_posts.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Myndir sem þú hefur gefið einkunn</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @rated_posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= link_to "Skoða", post_path(post.id) %></td>
          <td><%= image_tag(post.thumbnail) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
