<p id="notice"><%= notice %></p>
<% if @user.nil? %>
  <% @user = [] %>

<% if @user.judge %>
  <% @picture_owner = User.find(@post.user_id) %>
  <% if Rating.find_by(user_id: @user.id, post_id: @post.id) %>
    <% @rating = Rating.find_by(user_id: @user.id, post_id: @post.id) %>
    <p><strong>Þú hefur gefið einkunn:</strong><%= @rating.value %></p>
    <h1>Uppfæra einkunn</h1>
  <% else %>
    <h1>Gefa einkunn</h1>
  <% end %>

  <% 5.times.with_index do |i| %>
    <h2 style="display: inline-block"><%= link_to (i+1), "/rate/#{@post.id}/#{i+1}" %></h2>
  <% end %>

<% end %>

<% unless @picture_owner.nil? %>
<p>
  <strong>Innsendandi:</strong>
  <%= @picture_owner.email %>
</p>
<% end %>

<p>
  <strong>Titill:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Um mynd:</strong>
  <%= @post.content %>
</p>

<% if @post.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Mynd (smelltu á mynd til að stækka):</strong>
    <br>
    <%= image_tag @post.image, :class => "fullstort" %>
  </p>
<% end %>

<%= link_to 'Til baka', root_path %>
<%= link_to 'EYÐA MYND!', @post, method: :delete, data: { confirm: 'Ertu viss um að þú viljir eyða mynd?' } %>


<script>registerImages()</script>
